<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Forecast</key>
	<string></string>
	<key>GooglePlaces</key>
	<string></string>
	<key>Flickr</key>
	<string></string>
</dict>
</plist>
